<div class="container">
  <h1>Profile</h1>
  <div appearance="outline">
    <label>Email</label>
    <input type="email"   [formControl]="email" required />
    <div>email</div>
    <div *ngIf="email.invalid">{{ getEmailErrorMessage() }}</div>
  </div>
  <div appearance="outline">
    <label>Password</label>
    <input type="password"   [formControl]="password" required />
    <div>lock</div>
    <div *ngIf="password.invalid">{{
      getPasswordErrorMessage()
    }}</div>
  </div>
  <button   color="primary" (click)="onSubmit()">
    {{ submitLabel }}
  </button>
</div>
