<!--  
  <div>
 
  <div *ngFor="let o of (deals$ | async)">
   xxxxx---{{o | json}}
   <span (click)="delete(o._id)">{{o.name}}</span>
  </div>
</div>    -->

<div class="container">
<div class="row">
    <div class="col-12 col-lg-3">
		<div class="card">
			<div class="card-body">
				<div class="d-grid"> <a class="btn btn-primary" target="_blank" [routerLink]="['/add']">+ Add Tutorial</a>
				</div>
				<!-- <h5 class="my-3">My Drive</h5> -->
				<div class="fm-menu">
					<div class="list-group list-group-flush"> <a href="javascript:;" class="list-group-item py-1"><i class="bx bx-folder me-2"></i><span>All Tutorials</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-devices me-2"></i><span>Angular</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-analyse me-2"></i><span>React</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-plug me-2"></i><span>Vue</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-trash-alt me-2"></i><span>Python</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-file me-2"></i>
                    <span>Java</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-image me-2"></i><span>C#</span></a>
					</div>
				</div>
			</div>
		</div>
		 
	</div>
	<div class="col-12 col-lg-9">
		<div class="card">
			<div class="card-body">
				<div class="fm-search">
					<div class="mb-0">
						<div class="input-group input-group-lg">	<span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
							<input type="text" class="form-control" placeholder="Search the files">
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12 col-sm-12 ">
						<div class="categories-list widget_categories tag-count">
						  <h3>
							<a><img  src="../../../assets/angular.png" class="pe-2" alt="Girl in a jacket" width="30" height="20">Angular</a>
						  </h3>
						  <hr>
						  <ul class="cate-list-ul" style="list-style: none;">
							<li class="cate-list-li">
							  <a href="kb/tags/about/What-is-the-Biosafety-Clearing-House-BCH-/619c553658029700017ff43b">What is the Biosafety Clearing-House (BCH)?</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-benefits-for-Parties-and-non-Parties/619c55594f1f30000140eeec">BCH benefits for Parties and non-Parties</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Modalities-of-operation-of-the-BCH-Annex-to-BS-I-3-/619c553c0c1ff000011c1c22">Modalities of operation of the BCH (Annex to BS-I/3)</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Relationship-between-BCH-and-the-other-clearing-houses-of-the-Convention/619c553e0c1ff000011c1c24">Relationship between BCH and the other clearing-houses of the Convention</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Categories-of-information-in-the-BCH/619c553f4f1f30000140eeba">Categories of information in the BCH</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-on-BCH-Forum/619c554e58029700017ff467">BCH on BCH Forum</a>
							  <!---->
							</li>
						  </ul>
						  <hr class="mt-3">
						  <div>
							<a href="kb/tags/about/About" class="float-end text-decoration-none">View more</a>
						  </div>
						</div>
					  </div>
					  <div class="col-md-12 col-sm-12 ">
						<div class="categories-list widget_categories tag-count">
						  <h3>
							<a href="kb/tags/about/About">About</a>
						  </h3>
						  <hr>
						  <ul class="cate-list-ul" style="list-style: none;">
							<li class="cate-list-li">
							  <a href="kb/tags/about/What-is-the-Biosafety-Clearing-House-BCH-/619c553658029700017ff43b">What is the Biosafety Clearing-House (BCH)?</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-benefits-for-Parties-and-non-Parties/619c55594f1f30000140eeec">BCH benefits for Parties and non-Parties</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Modalities-of-operation-of-the-BCH-Annex-to-BS-I-3-/619c553c0c1ff000011c1c22">Modalities of operation of the BCH (Annex to BS-I/3)</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Relationship-between-BCH-and-the-other-clearing-houses-of-the-Convention/619c553e0c1ff000011c1c24">Relationship between BCH and the other clearing-houses of the Convention</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Categories-of-information-in-the-BCH/619c553f4f1f30000140eeba">Categories of information in the BCH</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-on-BCH-Forum/619c554e58029700017ff467">BCH on BCH Forum</a>
							  <!---->
							</li>
						  </ul>
						  <hr class="mt-3">
						  <div>
							<a href="kb/tags/about/About" class="float-end text-decoration-none">View more</a>
						  </div>
						</div>
					  </div>

					  <div class="col-md-12 col-sm-12 ">
						<div class="categories-list widget_categories tag-count">
						  <h3>
							<a href="kb/tags/about/About">About</a>
						  </h3>
						  <hr>
						  <ul class="cate-list-ul" style="list-style: none;">
							<li class="cate-list-li">
							  <a href="kb/tags/about/What-is-the-Biosafety-Clearing-House-BCH-/619c553658029700017ff43b">What is the Biosafety Clearing-House (BCH)?</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-benefits-for-Parties-and-non-Parties/619c55594f1f30000140eeec">BCH benefits for Parties and non-Parties</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Modalities-of-operation-of-the-BCH-Annex-to-BS-I-3-/619c553c0c1ff000011c1c22">Modalities of operation of the BCH (Annex to BS-I/3)</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Relationship-between-BCH-and-the-other-clearing-houses-of-the-Convention/619c553e0c1ff000011c1c24">Relationship between BCH and the other clearing-houses of the Convention</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Categories-of-information-in-the-BCH/619c553f4f1f30000140eeba">Categories of information in the BCH</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-on-BCH-Forum/619c554e58029700017ff467">BCH on BCH Forum</a>
							  <!---->
							</li>
						  </ul>
						  <hr class="mt-3">
						  <div>
							<a href="kb/tags/about/About" class="float-end text-decoration-none">View more</a>
						  </div>
						</div>
					  </div>

					  <div class="col-md-12 col-sm-12 ">
						<div class="categories-list widget_categories tag-count">
						  <h3>
							<a href="kb/tags/about/About">About</a>
						  </h3>
						  <hr>
						  <ul class="cate-list-ul" style="list-style: none;">
							<li class="cate-list-li">
							  <a href="kb/tags/about/What-is-the-Biosafety-Clearing-House-BCH-/619c553658029700017ff43b">What is the Biosafety Clearing-House (BCH)?</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-benefits-for-Parties-and-non-Parties/619c55594f1f30000140eeec">BCH benefits for Parties and non-Parties</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Modalities-of-operation-of-the-BCH-Annex-to-BS-I-3-/619c553c0c1ff000011c1c22">Modalities of operation of the BCH (Annex to BS-I/3)</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Relationship-between-BCH-and-the-other-clearing-houses-of-the-Convention/619c553e0c1ff000011c1c24">Relationship between BCH and the other clearing-houses of the Convention</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Categories-of-information-in-the-BCH/619c553f4f1f30000140eeba">Categories of information in the BCH</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-on-BCH-Forum/619c554e58029700017ff467">BCH on BCH Forum</a>
							  <!---->
							</li>
						  </ul>
						  <hr class="mt-3">
						  <div>
							<a href="kb/tags/about/About" class="float-end text-decoration-none">View more</a>
						  </div>
						</div>
					  </div>

					  <div class="col-md-12 col-sm-12 ">
						<div class="categories-list widget_categories tag-count">
						  <h3>
							<a href="kb/tags/about/About">About</a>
						  </h3>
						  <hr>
						  <ul class="cate-list-ul" style="list-style: none;">
							<li class="cate-list-li">
							  <a href="kb/tags/about/What-is-the-Biosafety-Clearing-House-BCH-/619c553658029700017ff43b">What is the Biosafety Clearing-House (BCH)?</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-benefits-for-Parties-and-non-Parties/619c55594f1f30000140eeec">BCH benefits for Parties and non-Parties</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Modalities-of-operation-of-the-BCH-Annex-to-BS-I-3-/619c553c0c1ff000011c1c22">Modalities of operation of the BCH (Annex to BS-I/3)</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Relationship-between-BCH-and-the-other-clearing-houses-of-the-Convention/619c553e0c1ff000011c1c24">Relationship between BCH and the other clearing-houses of the Convention</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/Categories-of-information-in-the-BCH/619c553f4f1f30000140eeba">Categories of information in the BCH</a>
							  <!---->
							</li>
							<li class="cate-list-li">
							  <a href="kb/tags/about/BCH-on-BCH-Forum/619c554e58029700017ff467">BCH on BCH Forum</a>
							  <!---->
							</li>
						  </ul>
						  <hr class="mt-3">
						  <div>
							<a href="kb/tags/about/About" class="float-end text-decoration-none">View more</a>
						  </div>
						</div>
					  </div>

					
				</div>
			</div>
		</div>
	</div>
	
</div>
</div>

