<ng-container *ngIf="bookmark">
  <div color="primary">
    <span>{{ bookmark.name }}</span>
    <span class="spacer"></span>
    <button   (click)="onAdd()">
      <div>add</div>
    </button>
  </div>
  <div *ngIf="isLoading; else showLinks">
    <div class="spinner"></div>
  </div>
  <ng-template #showLinks>
    <ul class="links">
      <li class="link" *ngFor="let link of links">
        <div (click)="onLinkClick(link.url)">
          <div>
            <div>{{ link.title }}</div>
            <div>{{ link.siteName }}</div>
            <img src="{{ link.images[0] }}" alt=""   />
          </div>
        </div>
      </li>
    </ul>
  </ng-template>
</ng-container>
